.calendar_util {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}

.react-calendar {
  border: none;
  box-shadow: 8px 8px 16px 0px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  padding: 15px 0px;
  max-width: 700px !important;
  .react-calendar__tile {
    &:hover {
      background: transparent;
    }
  }
  .react-calendar__tile--now {
    background-color: transparent;
    transition: 0.5s;
    abbr {
      background-color: $react-calendar-today-color !important;
      border-radius: 50% !important;
      color: white !important;
      padding: 7px !important;
    }
  
    &.react__calendar__status__present,
    .react__calendar__status__present {
      abbr {
        border: 2px solid black !important;
        background-color: $present;
      }
    }
    &:hover{
      background: none !important;
      abbr {
        background-color: red;
      }
    }
  }
  .react__calendar__status__marked_present_via_request_raised {
      abbr {
        @extend .calendar_util;
        border-radius: 50%;
        padding: 7px;
        color: white;
        background-color: $attendance-present-with-request-approved;
      }
    }
  .react__calendar__status__check_in_out_missing {
    abbr {
      @extend .calendar_util;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      border: 3px solid $check-in-out-missing;
    }
  }
  .react__calendar__status__present {
    abbr {
      @extend .calendar_util;
      background-color: $present;
      border-radius: 50%;
      color: white;
      padding: 7px;
    }
  }
  .react__calendar__status__absent {
    abbr {
      @extend .calendar_util;
      background-color: $absent;
      border-radius: 50%;
      color: white;
      padding: 7px;
    }
  }
  
  .react__calendar__status__holiday {
    abbr {
      @extend .calendar_util;
      background-color: $holiday;
      border-radius: 50%;
      color: white;
      padding: 7px;
    }
  }

  .react__calendar__status__weekend {
    abbr {
      @extend .calendar_util;
      background-color: $weekend;
      border-radius: 50%;
      padding: 7px;
    }
  }
  .react__calendar__status__leave {
    abbr {
      @extend .calendar_util;
      background-color: $leave;
      border-radius: 50%;
      color: white;
      padding: 7px;
    }
  }
  .react__calendar__status__leave_requested {
    abbr {
      @extend .calendar_util;
      border: 1px #E1E7EE;
      background: $attendance-leave-requested;
      border-radius: 50%;
      padding: 7px;
    }
  }
  .react__calendar__status__missing {
    abbr {
      border: 2px solid $present;
      border-radius: 50%;
      padding: 7px;
    }
  }
  .react__calendar__status__working_on_weekend {
    abbr {
      @extend .calendar_util;
      background-color:  $working-weekend;
      color: white;
      border-radius: 50%;
      padding: 7px;
    }
  }
  .react__calendar__status__default {
    abbr {
      @extend .calendar_util;
      padding: 7px;
    }
  }
}

.react_calendar__wrapper {
  .react_calendar__status__dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 0.5rem;
    &.dot_today {
      background: $react-calendar-today-color;
    }
    &.dot_present {
      background: $present;
    }
    &.dot_missing {
      background: transparent;
      border: 1px solid $present;
    }
    &.dot_absent {
      background: $absent;
    }
    &.dot_leave {
      background: $leave;
    }
    &.leave_requested {
      background: $leave-requested;
    }
    &.dot_weekend {
      background: $weekend;
    }
    &.dot_working_weekend {
      background: $working-weekend;
    }
    &.dot_marked_present_via_request_raised {
      background: $attendance-present-with-request-approved;
    }
    &.dot_holiday {
      background: $holiday;
    }
  }
}